{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'note_create' %}">Создать запись</a></li>
{% endblock %}
{% block content %}
    <h1>Список записей</h1>
    {% for note in notes %}
        <div class="note">
        <h5>{{ note.author_name }}({{ note.author_mail }})</h5>
        <p>{{ note.text }}</p>
        <p><a href="{% url 'note_update' note.pk %}">Изменить</a></p>
        <p><a href="{% url 'note_delete' note.pk %}">Удалить</a></p>
        </div>
    {% endfor %}
{% endblock %}
